/* Réinitialisation des styles */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* Styles généraux */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 13px;
  margin: 0;
  
  overflow-y: auto;
}

/* Formulaire */
.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  
  height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  overflow-y: auto; 
  padding-top: 130px;
  background-color: #F4F3F6;
}



.login_container {
  width: 1400px;
  height: 500px;
  padding: 20px;
  margin-top: -230px;
  border-radius: 100px;
  justify-content: center;
}

.login_form_wrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.747);
}

.login_form_wrapper h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  
}

.login_form_wrapper p {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}
.input {
  font-size: 19px
}

.titre {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
  font-weight: 600;
}
.titreP1{
  padding-left: 100px;
  font-size: 35px;
}


/* Formulaires d'entrée */

.form-control {
  border: 1px solid #333;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px; 
}
.form-control::-webkit-input-placeholder {
  font-size: 12px;
  color: gray;
  font-family: arial; }
 
.form-group {
  margin-bottom: 20px; 
}
.col_invalid_msg {
  display: block;
  font-size: 20px;
}
.text-danger{
  font-size: 20px;
}

/* Bouton de soumission */
.main_btn {
  width: 100%;
  height: 40px;
  background-color: #212121;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.main_btn:hover {
  background-color: #333;
}
/*form check*/
.titrchek{
  margin-bottom: 6px;
}
.form-check-input{
  margin-left: 12px;
}
.form-check-label{
  margin-left: 15px;
}
/* Messages d'erreur */
.invalid_msg {
  font-size: 12px;
  margin-top: 5px;
}

.text-danger {
  color: #dc3545;
  font-size: 13px;
}

.text-success {
  color: #28a745;
  font-size: 13px;
}


.material-icons{
  font-size: x-small;
}
/*popup*/
.modal-dialog{
  margin-top: 90px;
  margin-left: 450px;
  
 }
 .modal-content{
  border-radius: 25px;
  
  background-color: rgba(255, 0, 0, 0.5);
  height: 160px;
  width: 340px;

 }
 .modal-title{
  
  margin-top: 34px;
  margin-left: 10px;
  color: #ffffff;
 }
 
 .fa-lg{
  margin-right: 12px;
  color: #fff0f0;
 }
